body {
}

ul.nav {
    list-style-type: none;
    overflow: inherit;
    background-color: darkolivegreen;
}

ul.nav > li{
    display: inline;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
